<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="passwordreset" method="POST">
        {% csrf_token %}
        <p>Username <input type="text" name="uname"></p><br>
        <p>New Passwoed: <input type="password" name="password"></p>
        <input type="submit" value="Reset">
        {{errmsg}}

        <p><a href="{% url 'login' %}"><i>Login</i></a></p>
    </form>
</body>
</html>